.DS_Store
.dart_tool/

.packages
.pub/

build/
.idea/
doc/
/.flutter-plugins
/.flutter-plugins-dependencies
/example/linux/flutter/generated_plugin_registrant.cc
/example/windows/flutter/generated_plugin_registrant.cc
/example/linux/flutter/generated_plugin_registrant.h
/example/windows/flutter/generated_plugin_registrant.h
/example/linux/flutter/generated_plugins.cmake
/example/windows/flutter/generated_plugins.cmake
/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
